ol.results li {
    padding: 1em;
    line-height: 130%;
}

ol.results li {
    border-bottom: 1px solid #00529b;
}

ol.results li:last-child {
    border-bottom-color: transparent;
}

.name {
    font-size: larger;
    margin-bottom: 0.3em;
}