* {
    box-sizing: border-box;
}

/* Footer stay down! https://matthewjamestaylor.com/bottom-footer */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100%;
    position: relative;
}

#profile {
    padding-bottom: 6em; /* Height of the footer */
}

footer {
    height: 6em; /* Height of the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* End of Footer stay down! */

body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    background-color: #eaeaea;
    color: #444444;
}

header {
    padding: 0 2%;
    background-color: white;
}

footer {
    background-color: #00a9e0;
    color: white;
    display: table;
}

footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
}

.text-left { text-align: left }
.text-right { text-align: right }

#profile {
    margin: 2%;
    margin-bottom: 0;
    padding: 0.5% 2% 2% 2%;
    background-color: white;
}


.hidden,
.template {
    display: none;
}

h1,
h2 {
    font-family: 'Roboto Light';
    font-weight: 300;
}

ol,
ul {
    list-style-type: none;
    padding-left: unset;
}

i.far,
i.fas {
    margin-right: 0.5em;
}

a,
a:visited {
    color: #00a9e0;
    text-decoration: none;
}

/* Orange #bc581a
Blue #00529b */

.listing ol.results li {
    padding: 1em;
    line-height: 130%;
}

.listing ol.results li {
    border-bottom: 1px solid #00529b;
}

.listing ol.results li:last-child {
    border-bottom-color: transparent;
}

.listing .name {
    font-size: larger;
    margin-bottom: 0.3em;
}


